<div class="tech-btm">
    <h4>Mail bültenine abone olun</h4>
    <p>Teknoloji ve yazılım ve diğer bloglar</p>
    <form method="post">
        <input type="email" placeholder="Email" required="" name="Mail" id="Mail">
        <button class="btn btn-success" type="submit" id="SubscribeMail" onclick="AboneOl()">Abone Ol</button>
    </form>

</div>

<script>
    function AboneOl() {

        var mail = {
            Mail: $('#Mail').val()
        }
        $.ajax({
            url: "/NewsLetter/SubscribeMail/",
            method: "POST",
            dataType: "json",
            data: mail,
            success: function (response) {
                alert(response)
            }
            ,
            error: function (response) {
                swal("Error", "Lütfen tekrar deneyin", "error")
            }
        });
    }
    </script>